@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Ubuntu Regular";
        src: url("../../assets/fonts/ubuntu/Ubuntu-Regular.ttf") format("truetype");
        font-display: swap;
    }
    @font-face {
        font-family: "Ubuntu Medium";
        src: url("../../assets/fonts/ubuntu/Ubuntu-Medium.ttf") format("truetype");
        font-display: swap;
    }
    @font-face {
        font-family: "Ubuntu Bold";
        src: url("../../assets/fonts/ubuntu/Ubuntu-Bold.ttf") format("truetype");
        font-display: swap;
    }
}

@layer components {
    .title-bg {
        border-radius: 40% 20% 40% 20%;
    }
    .check {
        @apply text-lg absolute -bottom-[3px] -right-[1px] text-[var(--clr)] font-black;
        text-shadow: 0 0 5px var(--clr), 0 0 10px var(--clr), 0 0 15px var(--clr);
    }
    .value {
        @apply transition-all duration-1000;
        box-shadow: 0 0 5px var(--clr), 0 0 10px var(--clr), 0 0 15px var(--clr);
    }
    .option {
        @apply flex justify-center items-center gap-x-2 cursor-pointer;
    }
    .span {
        @apply text-base text-white capitalize;
    }
    .chart {
        @apply flex justify-between items-center gap-x-5 w-full;
    }
}